/*-- scss:defaults --*/
// Variablen definieren (Farben, Schriften)
$theme-blue: #005a94;
$theme-orange: #e67e22;
$body-bg: #ffffff;
$body-color: #2c3e50;
$font-family-sans-serif: "Segoe UI", Roboto, sans-serif;

/*-- scss:rules --*/
// Design Regeln

.reveal {
  // Alles innerhalb der präsentation...
  

  .slides {
    background-color: transparent !important;
    z-index: 2 !important;
  }

/* 2. Sicherstellen, dass die Titelseite keinen eigenen Hintergrund hat */
  .reveal section.title-slide {
    background: transparent !important;
  }

  
  .reveal .slide-background {
    z-index: 1 !important;
  }
  
  
  h1, h2 {
    color: $theme-blue;
    font-weight: 700;
    text-transform: none;
    border-bottom: 2px solid $theme-blue;
    padding-bottom: 10px;
  }

  // Grafiken maximieren
  section img {
    max-width: 95%;
    max-height: 75vh;
    margin: 10px auto;
    display: block;
    border: none;
    box-shadow: none;
  }

  // Footer Styling
  .footer {
    font-size: 0.5em;
    color: #bdc3c7;
  }
  .slide-logo {
  bottom: 20px !important; /* Abstand von unten */
  right: 20px !important;  /* Abstand von rechts */
  top: unset !important;   /* Deaktiviert die Positionierung oben */
  max-height: 50px;            /* Größe anpassen */
}
}

// Eigene Hilfsklasse fuer den Lock-in-Effekt im Text
.highlight {
  color: $theme-orange;
  font-weight: bold;
}